.card-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin: 20px -10px; /* Add margin for spacing */
 }
 
 .card {
   width: calc(33.33% - 20px); /* Calculate width for three cards in a row with margin */
   margin-bottom: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth effect */
   border-radius: 10px; /* Add rounded corners */
   overflow: hidden; /* Ensure contents don't overflow */
   transition: transform 0.3s ease; /* Add transition for hover effect */
   margin: 10px ;
 }
 
 .card:hover {
   transform: translateY(-5px); /* Add hover effect to lift the card slightly */
 }
 
 .card-img-top {
   height: 200px; /* Set image height */
   object-fit: cover; /* Ensure images maintain aspect ratio and fill the container */
 }
 
 .card-body {
   padding: 10px; /* Add padding for content */
 }
 
 .card-title {
   font-size: 1.25rem; /* Increase font size for title */
   margin-bottom: 10px; /* Add margin below title */
 }
 
 .card-text {
   font-size: 1rem; /* Set font size for text */
   margin-bottom: 15px; /* Add margin below text */
 }
 
 .list-group-item {
   border: none; /* Remove border from list items */
 }
 
 .card-link {
   color: #007bff; /* Set link color */
   text-decoration: none; /* Remove underline from links */
 }
 
 .card-link:hover {
   text-decoration: underline; /* Add underline on hover */
 }
 

 .add-food-button {
  /* Your CSS styles for the Add Food button */
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.add-food-button:hover {
  background-color: #0056b3;
}
.blur-background {
  filter: blur(5px); /* Adjust the blur amount as needed */
  pointer-events: none; /* Allow clicks to pass through */
}

/* CSS for centering image */
.center-image {
  display: block; /* Ensures the image behaves as a block element */
  margin-left: auto; /* Auto margin for centering horizontally */
  margin-right: auto; /* Auto margin for centering horizontally */
  max-width: 100%; /* Limits the maximum width to the container width */
  height: auto; /* Allows the height to adjust according to the width */
  max-height: 200px; /* Limiting maximum height to 200px */
}
