<mat-card >
    <h1 class="text-center pt5"><b>Add New Category</b></h1>
    <mat-card-content>
       <!-- <h3>{{categoryReq|json}}</h3> -->
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form [formGroup]="categoryForm"> 
                       
                        
                            <div class="form-group">
                              <input type="text" class="form-control form-control-lg" id="exampleInputEmail1" formControlName="catName" [(ngModel)]="categoryReq.catName" placeholder="Enter Category Name">
                              <div *ngIf="categoryForm.get('catName')?.hasError('required') && categoryForm.get('catName')?.touched">
                                Category name is required.
                              </div>
                            </div>
                            <div class="form-group">
                              <input type="text" class="form-control form-control-lg" id="exampleInputPassword1" formControlName="catDescription" [(ngModel)]="categoryReq.catDescription" placeholder="Enter Category Description">
                              <div *ngIf="categoryForm.get('catDescription')?.hasError('required') && categoryForm.get('catDescription')?.touched">
                                Description  is required.
                              </div>
                            </div>
                           
                           
                            <div class="container text-center">
                                <button mat-raised-button color="primary" (click)="formSubmit()">Add</button>
                            </div>
                            
                            
                    


                    </form> 
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>