




<mat-card>
  <h1 class="text-center pt-5"><b>Add New Category</b></h1>
  <mat-card-content>
      <div class="bootstrap-wrapper">
          <div class="row">
              <div class="col-md-8 offset-md-2">
                  <form [formGroup]="categoryForm">{{categoryReq|json}}
                      <div class="form-group">
                          <input type="text" class="form-control form-control-lg" formControlName="catName" [(ngModel)]="categoryReq.catName" placeholder="Enter Category Name">

                          <div class="error" *ngIf="categoryForm.get('catName')?.invalid && (categoryForm.get('catName')?.dirty || categoryForm.get('catName')?.touched)">
                            <div *ngIf="categoryForm.get('catName')?.errors as errors">
                              <div *ngIf="errors['required']">
                                <small class="text-danger">Category name is required.</small>
                              </div>
                              <div *ngIf="errors['minlength']">
                                <small class="text-danger">Category name must be at least 3 characters long.</small>
                              </div>
                            </div>
                          </div>
                          
                          
                      </div>
                      <div class="form-group">
                          <textarea class="form-control form-control-lg" formControlName="catDescription" [(ngModel)]="categoryReq.catDescription" placeholder="Enter Category Description"></textarea>
                          <div class="error" *ngIf="categoryForm.get('catDescription')?.invalid && (categoryForm.get('catDescription')?.dirty || categoryForm.get('catDescription')?.touched)">
                            <div *ngIf="categoryForm.get('catDescription')?.errors as errors">
                              <div *ngIf="errors['required']">
                                <small class="text-danger"> Description is required.</small>
                              </div>
                              <div *ngIf="errors['minlength']">
                                <small class="text-danger">Description must be at least 15 characters long.</small>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="form-group">
                        
                        <label for="food-image">Food Image:</label>
                        <input type="file" (change)="onChangeImage($event)" id="food-image" name="food-image" accept="image/*" formControlName="catImage"(change)="setImage($event)">
                        <div class="error" *ngIf="categoryForm.get('catImage')?.hasError('required') && categoryForm.get('catImage')?.touched">
                          CategoryImage  is required.
                        </div>
                        <div>
                          <img *ngIf="categoryImagePreview" [src]="categoryImagePreview" width="100" height="100" alt="">
                        </div>
                    </div>
                      <div class="container text-center">
                          <button mat-raised-button color="primary" (click)="formSubmit()">Add</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </mat-card-content>
</mat-card>
