<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="assets/images/Logo(1).png" alt="logo">
              </div>
              <h2>New here?</h2>
              <!-- {{signupRequest|json}} -->
              <h4 class="font-weight-light">Signing up is easy. It only takes a few steps</h4>
              <form class="pt-3"  [formGroup]="signUpForm">
                
                <div class="form-group">
                  <input type="text" class="form-control form-control-lg" id="exampleInputEmail1" formControlName="firstName" [(ngModel)]="signupRequest.firstName" placeholder="Enter First Name">
                  <div  class="error" *ngIf="signUpForm.get('firstName')?.hasError('required') && signUpForm.get('firstName')?.touched">
                    First Name is required.
                  </div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" id="exampleInputEmail1" formControlName="lastName" [(ngModel)]="signupRequest.lastName" placeholder="Enter Last Name">
                    <div  class="error" *ngIf="signUpForm.get('lastName')?.hasError('required') && signUpForm.get('lastName')?.touched">
                    Last Name is required.
                    </div>
                    </div>
                <div class="form-group">
                  <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" formControlName="email" [(ngModel)]="signupRequest.email" placeholder="Enter Email">
                  <div  class="error" *ngIf="signUpForm.get('email')?.hasError('required') && signUpForm.get('email')?.touched">
                    User Email is required.
                  </div>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" formControlName="password" [(ngModel)]="signupRequest.password" placeholder="Enter Password">
                  <div  class="error" *ngIf="signUpForm.get('password')?.hasError('required') && signUpForm.get('password')?.touched">
                    Password is required.
                  </div>
                </div>
                <div class="form-group">
                  <input type="number" class="form-control form-control-lg" id="exampleInputEmail1" formControlName="mob" [(ngModel)]="signupRequest.mob" placeholder="Enter Mobile Number">
                  <div  class="error" *ngIf="signUpForm.get('mob')?.hasError('required') && signUpForm.get('mob')?.touched">
                  Mobile is required.
                  </div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" id="exampleInputEmail1" formControlName="tempAddress" [(ngModel)]="signupRequest.tempAddress" placeholder="Enter City">
                    <div  class="error" *ngIf="signUpForm.get('tempAddress')?.hasError('required') && signUpForm.get('tempAddress')?.touched">
                    Address  is required.
                    </div>
                    </div>
                 <div class="form-group" >
                    <label style="font-size: 1rem;" class="label">
                        Signup as
                      </label>
                      
                      <div class="label">
                        <input type="radio"
                               class="rbtn example-radio-button"
                               [value]="'BOY'"
                               formControlName="tempRole"
                               [(ngModel)]="signupRequest.tempRole"
                               /> Delivery Boy
                        <br>
                    
                        <input type="radio"
                               class="rbtn example-radio-button"
                               [value]="'CUSTOMER'"
                               formControlName="tempRole"
                               [(ngModel)]="signupRequest.tempRole"
                               /> Customer
                        <br>
                    
                        <input type="radio"
                               class="rbtn example-radio-button"
                               [value]="'OWNER'"
                               formControlName="tempRole"
                               [(ngModel)]="signupRequest.tempRole"
                               /> Restaurant Owner
                                        
                    </div>
                    <div  class="error" *ngIf="signUpForm.get('tempRole')?.hasError('required') && signUpForm.get('tempRole')?.touched">
                      Choose at least one Role.
                      </div>
                    
                </div> 
              
                <div class="mt-3">
                
                  <a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" (click)="SubmitSignupForm()">SIGN IN</a>
                </div>
                <div class="text-center mt-4 font-weight-light">
                  Already have an account? <a routerLink="/login" class="text-primary">Login</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>

  