body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
}

.container {
	width: 300px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	margin-top: 100px;
}

h1 {
	text-align: center;
	margin-bottom: 30px;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="text"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 5px;border: 1px solid #ccc;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
	background-color: #3e8e41;
}


body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
}

.container {
	width: 400px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	margin-top: 100px;
	text-align: center;
}

.time {
	font-size: 18px;
	margin-bottom: 20px;
}

.status {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 30px;
}

h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

p {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="text"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 5px;border: 1px solid #ccc;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
	background-color: #3e8e41;
}

/* icon */
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 49px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    /* -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased; */
    padding-top: 29px;
}